.Rproj.user
.Rhistory
.RData

/EPSY887 2014 Fall Data Science Institute.Rproj

/Data/.DS_Store

/Students.xlsx

/sc051a.sav

/Data/pisana.sav

/Students/

/.DS_Store

/R/.DS_Store

/Slides/Missing Data/Slides-concordance.tex
/Slides/Missing Data/Slides.log
/Slides/Missing Data/Slides.nav
/Slides/Missing Data/Slides.snm
/Slides/Missing Data/Slides.synctex.gz
/Slides/Missing Data/Slides.tex
/Slides/Missing Data/Slides.toc
/Slides/Missing Data/Slides.vrb
/Slides/Missing Data/texput.log

.DS_Store

/Slides/CART/Slides-concordance.tex
/Slides/CART/Slides.log
/Slides/CART/Slides.nav
/Slides/CART/Slides.snm
/Slides/CART/Slides.synctex.gz
/Slides/CART/Slides.tex
/Slides/CART/Slides.toc
/Slides/CART/Slides.vrb
/Slides/CART/Sweave.sty
/Slides/CART/texput.log
/Slides/PSA/Slides.log
/Slides/PSA/Slides.nav
/Slides/PSA/Slides.snm
/Slides/PSA/Slides.tex
/Slides/PSA/Slides.toc
/Slides/PSA/Slides.vrb
/Slides/PSA/Sweave.sty
/Slides/PSA/texput.log
